/*--------------------------------------------Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap");

/*--------------------------------------------Header*/

.titlebar {
  background-color: darkgray;
  height: 500px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

.titlebartext hr {
    position: absolute;
    width: 450px;
    color: #fafafa;
}
.titlebar a img {
  height: 500px;
  border: 0;
  margin: 0;
  padding: 0; 
  float: left;
}

.titlebartext {
  border: 0;
  padding: 0;
  margin: 80px;
  float: left;
}

.titlebar h1 a {
  font-family: "Exo", sans-serif;
  text-decoration: none;
  font-size: 50px; 
  letter-spacing: 4px;
  border: 0;
  padding: 0;
  color: #fafafa;
}

.titlebar h2 {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  font-size: 35px;
  padding-top: 50px;
  color: #fafafa;
    
}

.menu nav li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: inline;
  position: relative;
}

.menu nav li a {
  text-decoration: none;
}
