/*--------------------------------------------Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap");

/*--------------------------------------------Body*/

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*--------------------------------------------Header*/
header {
  background-color: darkgray;
  height: 350px;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.title {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.title a img {
  height: 350px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  float: left;
}

.titletext {
  border: 0px;
  padding: 0px;
  margin: 10px 0 0 65px;
  float: left;
}

.title h1 {
  margin: 0;
  border: 0;
  padding-left: 60px;
  padding-top: 35px;
  padding-bottom: 30px;
}
.title h1 a {
  font-family: "Exo", sans-serif;
  text-decoration: none;
  font-size: calc(22px + (50 - 22) * ((100vw - 300px) / (2000 - 300)));
  letter-spacing: 4px;
  border: 0px;
  padding-bottom: 50px;
  color: #fafafa;
}

.titletext hr {
  margin-left: 60px;
  max-width: 21vw;
  min-width: 300px
  color: #fafafa;
}

.title h2 {
  font-family: "Exo", sans-serif;
  font-weight: 200;
  font-size: calc(14px + (34.5 - 14) * ((100vw - 300px) / (2000 - 300)));
  padding-top: 0px;
  border: 0;
  margin: 60px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #fafafa;
}

/*--------------------------------------------Menu*/
.menu {
  width: -webkit-fill-available;
  position: absolute;
  padding-top: 270px;
  padding-left: 350px;
  border: 0;
  margin: 0;
}

.menu ul {
  display: inline-flex;
  width: -webkit-fill-available;
  border: 0;
  margin: 0;
  padding: 10px 0 0 0;
}

.menuitem {
  background-color: #949191;
  list-style: none;
  border: 0;
  margin: 0;
  width: 18.26vw;
  padding: 20px 50px;
  font-family: "Exo", sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-size: calc(5px + (23 - 5) * ((100vw - 300px) / (2000 - 300)));
  text-align: center;
  display: inline-block;
}

.menuitem i {
  padding-right: 25px;
  color: #fafafa;
  font-size: calc(19px + (25 - 19) * ((100vw - 300px) / (2000 - 300)));
}

/*--------------------------------------------Menu-hover*/

.menuitem:hover {
  background-color: #474444;
  cursor: pointer;
}

.menuitem:focus {
  background-color: #474444;
}

.menuitem::selection {
  background-color: #474444;
}

.menuitem i::selection {
  background-color: transparent;
}

.menuitem a::selection {
  background-color: transparent;
}

.menuitem a:active {
  background-color: #474444;
}

/*--------------------------------------------Sidebars*/

#sidebar,
.sidebar {
  background-color: #949191;
  width: 350px;
  border: 0;
  margin: 0;
  float: left;
}

#sidebar {
  height: 60.8vh;
}

.sidebar {
  height: 60.8vh;
}
#sidebar h3 {
  font-family: "Exo", sans-serif;
  color: #fafafa;
  padding-bottom: 25px;
  border: 0;
  margin: 0;
  font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (2000 - 300)));
  font-weight: 100;
}

#sidebar hr {
  color: #fafafa;
  width: 115px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: -15px;
}

/*--------------------------------------------General Info*/

.generalinfocontainer {
  clear: both;
  padding-left: 50px;
  padding-top: 110px;
}

.contactcontainer p {
    width: 200px;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (2000 - 300)));
    font-weight: 100;
}

.contactcontainer h3 {
    font-family: "Exo", sans-serif;
    margin: 0 5px;
    padding-bottom: 10px;
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (2000 - 300)));
}
.generalinfo,
.contactcontainer {
  font-family: "Roboto", sans-serif;
  list-style: none;
  color: #fafafa;
  padding: 0;
  border: 0;
  margin: 0;
}

.generalinfoitem  {
  padding-bottom: 20px;
  font-size: calc(11px + (16 - 11) * ((100vw - 300px) / (2000 - 300)));
}

/*--------------------------------------------Work History*/

.historycontainer,
.contactcontainer {
  width: 15.8em;
  margin-top: 5vh;
  margin-left: 7vh;
}

.historycontainer h3 {
  font-family: "Exo", sans-serif;
  color: #fafafa;
  padding: 30px 0 0 25px;
  border: 0;
  margin: 0;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (2000 - 300)));
  font-weight: 100;
}
.timeline-item {
  padding: 3.87em 2em 0em 2em;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: calc(7px + (12 - 7) * ((100vw - 300px) / (2000 - 300)));
  color: #fafafa;
  border-left: 1px solid;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  padding: 0;
  margin: 0;
}

.timeline-item:after {
  width: 12px;
  height: 12px;
  display: block;
  top: 3.1em;
  position: absolute;
  left: -6px;
  border-radius: 12px;
  content: "";
  background: #fafafa;
}

.history-items {
  margin-bottom: 30px;
}

/*--------------------------------------------Main Content*/
#maincontent {
  margin: 115px 0 0 0;
  border: 0;
  padding: 0 14.4vw;
  position: absolute;
  display: inline-flex;
}

.contentcontainer {
    padding: 0;
    margin: 0;
    border: 0;
}

/*--------------------------------------Main Content Text*/

.textcontainer {
  padding: 0;
  border: 0;
  display: inline-block;
}

.text1,
.text2 {
  width: 350px;
  float: left;
}

.textcontainer h4 {
  font-family: "Exo", sans-serif;
  font-size: calc(18px + (23 - 18) * ((100vw - 300px) / (2000 - 300)));
  font-weight: 400;
  margin: 0;
  border: 0;
  padding-bottom: 20px;
  padding-right: 50px;
  color: #313131;
}
.text1 p,
.text1 ul {
  font-family: "Roboto", sans-serif;
  color: #313131;
  text-align: justify;
  width: 450px;
  height: 140px;
  margin: 0;
  border: 0;
  clear: both;
}

.text1 p {
  padding-left: 70px;
}

.text1 ul {
  padding-left: 50px;
}

.text1 i,
.formcontainer i {
  float: left;
  padding-right: 20px;
  color: #e98b11;
}

.text2 {
  padding-left: 250px;
}

.text2 p,
.text2 ul {
  font-family: "Roboto", sans-serif;
  color: #313131;
  text-align: justify;
  width: 450px;
  height: 150px;
  margin: 0;
  border: 0;
  clear: both;
}
.text2 p {
  padding-left: 130px;
}

.text2 ul {
  padding-left: 130px;
}
.text2 h4 {
  padding-left: 120px;
  float: none;
}

.text2 i {
  float: left;
  padding-left: 65px;
  padding-right: 25px;
  color: #e98b11;
}

.text1 p,
.text2 p {
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (2000 - 300)));
  line-height: 35px;
}

.text1 i,
.text2 i,
.formcontainer i {
  font-size: calc(25px + (35 - 25) * ((100vw - 300px) / (2000 - 300)));
}

.text1 ul,
.text2 ul {
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (2000 - 300)));
  list-style: none;
  line-height: 35px;
}

/*--------------------------------------------Projects & SKills*/
.text1-item a {
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (2000 - 300)));
  text-decoration: none;
  color: #313131;
}

.text2-list {
  display: inline-block;
  padding-left: 50px;
}
.text2-item i {
  padding: 7px 25px 0 0;
  font-size: 21px;
  color: #313131;
}

/*--------------------------------------------Contact Form*/
.formcontainer h2 {
    font-family: "Exo", sans-serif;
    font-size: calc(14px + (34.5 - 14) * ((100vw - 300px) / (2000 - 300)));
    color: #313131;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*--------------------------------------------Footer*/

footer {
  background-color: #3b3a3a;
  width: 100%;
  height: 76.5px;
  bottom: 0;
  position: fixed;
  margin: 0;
  border: 0;
  padding: 0;
  
}

footer h3 {
  font-family: "Exo", sans-serif;
  color: #fafafa;
  font-weight: 100;
}

footer h4 {
  font-family: "Roboto", sans-serif;
  color: #fafafa;
  font-weight: 100;
}

.project {
  border: 0;
  margin: 0;
  float: left;
  padding-left: 50px;
}

.project h3 {
  font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (2000 - 300)));
}

.project a {
  display: inline-flex;
}

.project i {
  color: #fafafa;
  border: 0;
  margin: 0;
  padding-left: 20px;
  padding-top: 20.5px;
  font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (2000 - 300)));
  float: left;
}

.project a {
  text-decoration: none;
}

.links {
  border: 0;
  padding-top: 5px;
  margin-right: 40px;
  display: inline-flex;
  float: right;
}

.downloadcv {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 17px;
  width: 300px;
  clear: right;
}

.downloadcv h4 {
  font-size: calc(11px + (15 - 11) * ((100vw - 300px) / (2000 - 300)));
}

.downloadcv a {
  display: inline-flex;
  text-decoration: none;
}

.downloadcv i {
  border: 0;
  margin: 0;
  padding-left: 15px;
  padding-top: 20.5px;
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (2000 - 300)));
  color: #fafafa;
}

.social {
  clear: right;
  margin-left: 100px;
  display: inline-flex;
}

.socialicons {
  border: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 15px;
}

.socialicons i {
  color: #fafafa;
  font-size: 23px;
}

.socialicons a {
  padding-left: 10px;
}

/*--------------------------------------------Media Queries*/

/*--------------------------------------------Mobile*/

@media screen and (min-width: 300px) and (max-width: 600px) {
  body {
    width: 100%;
  }

  .title {
    display: inline;
  }

  .title a img {
    height: 100px;
    float: left;
  }

  header {
    height: 100px;
    width: 100%;
  }

  .titletext {
    text-align: center;
    margin-top: 0;
    margin-left: 35px;
  }

  .title h1 {
    padding: 0;
    border: 0;
    margin: 0;
  }

  .title h1 a {
    padding: 10px 0;
    border: 0;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 200;
    display: inline-block;
  }

  .titletext hr {
    padding: 0;
    margin: 0 0 10px 0;
    width: 56vw;
  }

  .title h2 {
    padding: 0 0 10px 0;
    border: 0;
    margin: 0;
    font-weight: 100;
  }

  .menu {
    margin-top: 101px;
    padding: 0;
    width: 100%;
    clear: both;
  }

  .menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .menuitem {
    width: 25%;
    height: auto;
    padding: 0;
    color: transparent;
  }

  .menuitem i {
    padding-left: 23px;
    padding-top: 15px;
  }

  #sidebar,
  .sidebar {
    width: 100%;
    margin-top: 5.52vh;
    padding-left: 14.8vw;
  }

  #sidebar {
    height: 40vh;
  }

  .sidebar {
    height: max-content;
  }

  .generalinfocontainer {
    padding-top: 5vh;
    padding-left: 0;
    width: fit-content;
    margin-left: 14vw;
  }

  .historycontainer {
    width: fit-content;
    margin-left: 45px;
  }
  #maincontent {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .textcontainer {
    display: inline-block;
  }

  .text1 {
    padding-top: 60px;
    padding-bottom: 150px;
    width: 260px;
  }

  .text2 {
    margin-top: 40px;
    margin-bottom: 150px;
    padding-left: 0;
    float: left;
  }

  .text2 h4 {
    padding-left: 0;
  }

  .text2 ul {
      padding-left: 50px;
  }

  .text1 p,
  .text2 p,
  .text1 ul {
    padding-left: 75px;
    width: 70vw;
    float: left;
  }

  .text1 i,
  .text2 i {
    padding-left: 35px;
    padding-right: 15px;
    float: left;
  }

  .skills-list {
    padding-left: 40px;
    width: 270px;
    float: left;
  }

  footer {
    height: 170px;
    position: inherit;
  }

  .project {
    padding: 0 22vw;
  }

  .project a {
    margin-right: 5px;
  }

  .project i {
    padding-top: 14px;
  }

  .links {
    display: inline;
    padding-top: 0;
    margin: 0;
    float: none;
  }

  .downloadcv {
    padding: 0 22vw;
  }

  .downloadcv a {
    margin-left: -5px;
  }

  .downloadcv i {
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .social {
    font-size: 15px;
    margin: 0;
    margin-left: -15px;
  }

  .social h4 {
    visibility: hidden;
    font-size: 1px;
  }

  .socialicons {
    display: inline-block;
    padding: 0 26.5vw;
  }
}
